*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('https://images.unsplash.com/photo-1643661100639-de5cdf7bcb80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
}